{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>{{.greeting}}</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
    {{template "flash.html" .}}

    <form action="/App/RemoteSell" method="GET">

      <div>
        {{with $field := field "location" .}}
        <label for="location">Location</label>
        <select name="{{$field.Name}}">
          {{option $field "1" "Clackamas Town Center Mall"}}
          {{option $field "2" "Pioneer Place Mall"}}
          {{option $field "3" "Beaverton Postal Annex"}}
          {{option $field "4" "Salem City Center Mall"}}
          {{option $field "5" "180th And Stark - Shell Station"}}
          {{option $field "6" "Mt. Shasta Mall"}}
          {{option $field "7" "Bayshore Mall"}}
          {{option $field "8" "Grand Teton Mall"}}
          {{option $field "9" "Boise Town Center"}}
          {{option $field "10" "Silver Lake Mall"}}
          {{option $field "11" "Medford"}}
          {{option $field "12" "Newberg"}}
        </select>
        {{end}}
      </div>

      <div>
        {{with $field := field "crypto" .}}
        <label for="crypto">Crypto</label>
        <select name="{{$field.Name}}">
          {{option $field "BTC" "BTC"}}
          {{option $field "LTC" "LTC"}}
        </select>
        {{end}}
      </div>

      <div>
        {{with $field := field "fiat" .}}
        <label for="fiat">Amount $</label>
        <input maxlength=7 size=7 type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
        {{end}}
      </div>

      <input type="hidden" name="hidden_uuid" value="" />
      <input type="hidden" name="hidden_crypto_amount" value="" />
      <input type="hidden" name="hidden_minutes" value="" />
      <input type="hidden" name="hidden_address" value="" />

      <div>
        <input type="submit" value="Submit" />
      </div>

    </form>
    </div>
  </div>
</div>

{{template "footer.html" .}}
